#! /bin/sh -

. ../lib.sh

set -eu

lib_info 'setup'

# lib_require_root

FILES=
PREFIX=
CUSTOMFILES=
lib_custom_install() { }
lib_back_up
trap lib_roll_back EXIT
lib_install
trap - EXIT

lib_info 'setup done'
