/*

Thunderbird customization basics:
https://unix.stackexchange.com/q/4781/128489

XUL tree:
https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/tree

Zebra defaults are available here:
http://kb.mozillazine.org/Zebra_striping
They are broken however as of Thunderbird 52.1.1 because selected and unfocused
rows have a white font on a bright background.

CSS color keywords:
https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#Color_keywords

Useful articles:
http://www.makeuseof.com/tag/tweak-your-firefox-with-the-userchromecss-file/

 */

/* Set default namespace to XUL */
@namespace
url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

