{{- if hasSuffix "scli" (output "sh" "-c" "command -v $1; true" "--" "X" "scli") }}
username={{ (bitwarden "item" "f5672466-d735-4533-93a2-adba00c1b07e").login.username }}
enable-notifications=true
color=high
save-history=true
{{- end }}
